.main-message {
  background: #d3d3d3;
}

.main-message h2 {
  padding-left: 0.5rem;
  color: #1cb03c;
  background: #ffffff;
  border-radius: 5px;
}

.message-items {
  background: #f5f5f5;
  border-radius: 4px;
}
