.core-box{border-bottom:1px solid #ededed;}
.core-edit textarea, .core-edit input{margin:0.25rem 0;}
.core-icon{min-height:5rem;}
.core-time{font-size:0.75rem;color:#888888;}
.core-email{font-size:1rem;color:#337ab7;}
.core-btn,.core-delete{font-size:1rem;color:#337ab7;border:none;cursor:pointer;background:none;}
.core-info{margin-bottom:0;}
.comment-content,.reply-content{display:inline-block;min-height:36px;margin:0.25rem 0;padding:0.375rem 0.5rem;border-radius:4px;background:#d0dfef;}
.reply-content{background:#b2e281;}
.tri-before:before{content:'';width:0;height:0px;position:absolute;top:12px;left:-12px;border-width:6px;border-style:solid;border-color:transparent #d0dfef transparent transparent;}
.tri-after:after{content:'';width:0;height:0px;position:absolute;top:12px;right:3px;border-width:6px;border-style:solid;border-color:transparent transparent transparent #b2e281;}
.error{display:inline-block;color:red;}