* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  /*background: url(https://images7.alphacoders.com/888/thumb-1920-888716.jpg);*/
  /*background: url(https://images7.alphacoders.com/888/thumb-1920-888716.jpg);*/
  background: #333444;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.App {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.layout-header {
  width: 100vw;
  height: 8vh;
  color: #ffffff;
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  align-content: center;
  align-items: center;
}

.header-drive {
  display: inline-block;
  padding: auto 12px;
}

.drive-tool {
  font-size: 36px;
  margin: auto 8px;
}

.header-content {
  width: 88%;
  height: 100%;
  float: right;
}

.layout-wrapper {
  width: 100vw;
}

.nav-left {
  width: 9vw;
  height: 92vh;
  z-index: 100;
  position: fixed;
  top: 8vh;
  left: 0;
  background: rgba(32, 32, 32, 0.5);
}

.nav-items {
  font-size: 36px;
}
.nav-items li {
  height: 23vh;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-items * {
  width: 100%;
}

.main-content {
  width: 91vw;
  position: absolute;
  right: 0;
  top: 8vh;
}
