* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.sider-bar {
  width: 12vw;
  height: 100vh;
  background: #222222;
  position: fixed;
}

.nav-items {
  width: 100%;
  height: 100vh;
  font-size: 36px;
  color: #ffffff;
  padding-top: 4vh;
}
.nav-items li {
  height: 24vh;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-items * {
  width: 100%;
}

.main {
  width: 88vw;
  min-height: 100vh;
  float: right;
}

.header-bar {
  width: 88vw;
  height: 4vh;
  background: #333333;
  z-index: 100;
  position: fixed;
  top: 0;
  text-align: center;
  color: #ffffff;
}

.content {
  width: 88vw;
  min-height: 100vh;
  padding-top: 4vh;
  background: #333444;
}

.main-content {
  color: #ffffff;
  min-height: 96vh;
}

/* new style */
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  /*background: url(https://images7.alphacoders.com/888/thumb-1920-888716.jpg);*/
  /*background: url(https://images7.alphacoders.com/888/thumb-1920-888716.jpg);*/
  background: #333444;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.App {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.header-bar {
  width: 100vw;
  height: 4vh;
  color: #ffffff;
  text-align: center;
  position: fixed;
  top: 0;
}

.header-content {
  width: 88%;
  height: 100%;
  float: right;
}

.layout-wrapper {
  width: 100vw;
}

.nav-left {
  width: 9vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(32, 32, 32, 0.5);
}

.nav-items {
  font-size: 36px;
}
.nav-items li {
  height: 24vh;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-items * {
  width: 100%;
}

.main-content {
  width: 91vw;
  position: absolute;
  right: 0;
  top: 4vh;
}
